name: Grype SCA

on:
    push:
        branches: [ "main" ]
    schedule:
        - cron: 0 12 * * 1
    # At 12:00 on Monday.
    
jobs:
    Scan:
    # Importing a reusable workflow from another repository and branch
        uses: t-kolev/Continuous-SCA-Scanning/.github/workflows/grype.yaml@fine_tunning