name: Trivy SCA

on:
  push:
      branches: [ "main" ]
  schedule:
    - cron: 0 12 * * 1
  # At 12:00 on Monday.
    
jobs:
    Scan:
     uses: t-kolev/Continuous-SCA-Scanning/.github/workflows/trivy.yaml@main